.input {
  border-radius: 28px;
  font-size: 14px;
  color: var(--placeholder-color);
  background: var(--background-color);
  border: none;
  padding: 16px 20px;
  max-width: 307px;
  outline: none;
}

.input::placeholder {
  color: var(--placeholder-color);
}
