.btn {
  border-radius: 16px;
  font-size: 16px;
  color: white;
  background: #fc6011;
  border: 1px solid #fc6011;
  padding: 17px 108px;
}

.btn-border {
  font-size: 16px;
  color: #fc6011;
  background: white;
  border: 1px solid #fc6011;
}
