.welcome {
  background-image: url("../../assets/Background\ icons.svg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: grid;
  place-items: center;
  align-content: center; 
  grid-row-gap: 0; */
}

#headline {
  color: #fc6011;
}

#headline2 {
  color: #4a4b4d;
  font-size: 10pt;
}

h1 {
  font: bold;
  color: #4a4b4d;
}

.welcome > * {
  margin-bottom: 6px;
}

.welcome > *:not(:first-child) {
  margin: 0;
}
